Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^([a-zA-Z]*)$ ./index.php?q=$1
RewriteRule ^(seance)/([0-9]+)$ ./index.php?q=$1&event_id=$2