// FONTS

@font-face {
	font-family: 'Hanken';
	src: url('../fonts/Hanken-Book.eot');
	src: url('../fonts/Hanken-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Hanken-Book.woff') format('woff'),
		url('../fonts/Hanken-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Hanken';
	src: url('../fonts/Hanken-Light.eot');
	src: url('../fonts/Hanken-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Hanken-Light.woff') format('woff'),
		url('../fonts/Hanken-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

// GLOBAL


// VARIABLES

$white        : #FFFFFF;
$black        : #2D2D2D;
$yellow       : #F5D76E;
$font-stack   : Hanken;

// GENERAL STYLE

.header-item img {
  max-height: 35px;
  border-radius: 45px;
}

.header {
  height: 70px;
  border-bottom : 1px solid #D2D2D2;
  @media screen and (min-width: 980px) {
    .container {
        margin: 0 auto;
        max-width: 96%;
    }
  }
  #logo {
    max-height: 40px;
  }
  .facebook {
    background-color: #3b5998;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #2A4479;
      transition: all 0.2s ease-in-out;
    }
  }
  strong {
    color: $black;
    margin-left: 13px;
  }
  @media screen and (min-width: 980px) {
    header-right .header-item:last-child {
      padding-right: 10px;
    }
  }
}

.header-right {
  a.header-item {
    color: $black;
    opacity: 0.7;
    background-color: rgba(0,0,0,0);
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    &:hover {
      opacity: 0.7;
      background-color: rgba(0,0,0,0.1);
      transition: all 0.1s ease-in-out;
    }
  }
}

// MAKE A DROPDOWN MENU

.title {
  font-family: $font-stack;
  font-weight: 400;
}

.subtitle {
  font-family: $font-stack;
  font-weight: 400;
}

.transparent {
  background-color: transparent;
  border-bottom : none;
  strong {
    color: $white;
  }
  .header-right {
    a.header-item {
      color: $white;
    }
  }
}

// INTRO

.is-home {
  background: linear-gradient(-134deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 100%), url(../img/people_tv.jpg) no-repeat center fixed;
  background-size: cover;
  h1 {
    color: $white;
    font-size: 40px;
  }
  h2 {
    color: $white;
  }
  .input.is-large, .is-large.textarea {
    font-size: 18px;
    height: 47px;
    line-height: 48px;
    padding: 2px 12px;
    font-family: $font-stack;
    border: none;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0px !important;
  }
  .middle {
    border-radius: 0px !important;
  }
  .is-pop {
    background: $yellow;
    border-color: transparent;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    height: 47px;
    font-family: $font-stack;
  }
}

// SEANCE

.is-seance {
  h1 {
    color: $white;
    font-size: 40px;
  }
  h2 {
    color: $white;
  }
  span {
    font-family: Hanken;
    color: $white;
  }
}

.general_infos {
  img {
    max-width: 25%;
    margin-top: -70px;
    display: inline-block;
    margin-left: 10%;
  }
  .text_infos {
    display: inline-block;
    width: 50%;
    position: relative;
    bottom: 30px;
    left: 60px;
    h1 {
      display: inline-block;
    }
    span {
      margin-left: 8px;
    }
    p {
      text-align: justify;
    }
  }
}

.number {
  margin-top: 50px;
  text-align: center;
}

.hote {
  text-align:center;
  #profile-picture {
    height: 150px;
    border-radius: 100%;
  }
  .subtitle {
    margin-top:10px;
  }
}


// CREATE

.is-create {
  background: linear-gradient(-134deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 100%), url(../img/popcorn.jpg) no-repeat center fixed;
  h1{
    color: $white;
  }
  h2 {
    color: $white;
  }
}

.eventName, .dateAndHours, .places, .properties, .films {
  display:none;
}

#adress-control {
  width: 490px;
}

.result-list {
  text-align: left;
  top: 93px;
  position: absolute;
  z-index: 3;
}

.movie-list {
  text-align: left;
  top: 93px;
  z-index: 3;
}

.loader, .control.is-loading:after, .button.is-loading:after, .pagination a.is-loading:after {
  width: 20px;
  top: 14px;
  right: 15px;
  height: 20px;
}

// HEADER

.header {
  position: absolute;
  width: 100%;
}

// SEARCH

// ADRESS
.result-list {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  width: 100%;
}

.adress-propose {
  cursor: pointer;
  padding: 5px 5px 5px 12px;
  &:hover {
    background-color: #F6F6F6;
  }
}

.movie-list {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  width: 100%;
}

.movie-propose {
  display: inline-block;
  position: absolute;
  margin-top: 30px;
  margin-left: 20px;
}

.cover-list {
  cursor: pointer;
  &:hover {
    background-color: #F6F6F6;
  }
  img {
    height: 60px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
  }
}

// DISCOVER

// ERROR PAGE NO RESULT

.error {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  .hero-content {
    margin-top: 230px;
  }
  .createbutton {
    margin-left: 10px;
  }
}

.leaflet-top {
  bottom: 10px;
  height: 70px;
  top: initial !important;
  right: 10px;
  left: initial !important;
}

.leaflet-bottom {
  display: none;
}

.cover {
  height: 100px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.infos {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -14px;
}

.leaflet-popup-close-button, .map-tooltip.closable .close {
  display: none !important;
}

.leaflet-popup-content {
  padding: 0 !important;
}

.leaflet-popup-content h3 {
  height: 70px !important;
}

h1 {
    font-size:22px;
    margin:0;
    font-weight:400;
  }
  a {
    color:#404040;
    text-decoration:none;
  }
  a:hover { color:#101010; }

  .sidebar {
    position:absolute;
    width:33.3333%;
    height:calc(100% - 70px);
    top:0;left:0;
    overflow:hidden;
    border-right:1px solid rgba(0,0,0,0.25);
    margin-top: 70px;
    background-color: $white;
    @media screen and (max-width: 975px) {
      display: none;
    }
  }
  .pad2 {
    padding:20px;
  }
  .quiet {
    color:#888;
  }
  .map {
    position:absolute;
    left:33.3333%;
    width:66.6666%;
    top:0;bottom:0;
    @media screen and (max-width: 975px) {
      left:0%;
      width:100%;
    }
  }
  .heading {
    background:#fff;
    border-bottom:1px solid #eee;
    height:60px;
    line-height:60px;
    padding:0 10px;
    margin-top: 50px;
  }
  .listings {
    height:100%;
    overflow:auto;
  }
  .listings .item {
    display:block;
    border-bottom:1px solid #eee;
    padding:10px;
    text-decoration:none;
  }
  .listings .item:last-child {
    border-bottom:none;
  }

  .listings .item .title {
    display:block;
    color:#2C3E50;
    margin-bottom: 6px;
  }
  .listings .item .title small { font-weight:400; }
  .listings .item.active .title,
  .listings .item .title:hover { color:$yellow; }
  .listings .item.active {
    background-color: rgba(245,215,110,0.12);
  }

  ::-webkit-scrollbar {
    width:3px;
    height:3px;
    border-left:0;
    background:rgba(0,0,0,0.1);
  }
  ::-webkit-scrollbar-track {
    background:none;
  }
  ::-webkit-scrollbar-thumb {
    background:#3498DB;
    border-radius:0;
  }

  .clearfix { display:block; }
  .clearfix:after {
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }

  /* Marker tweaks */
  .leaflet-popup-close-button {
    display:none;
  }
  .leaflet-popup-content {
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding:0;
    width:200px;
  }
  .leaflet-popup-content-wrapper {
    padding:0;
  }
  .leaflet-popup-content h3 {
    background:#91c949;
    color:#fff;
    margin:0;
    display:block;
    padding:10px;
    border-radius:3px 3px 0 0;
    font-weight:700;
    margin-top:-15px;
  }
  .leaflet-popup-content div {
    padding:10px;
  }
  .leaflet-container .leaflet-marker-icon { cursor:pointer; }
