body {
	background:#eee;
	font-family:Helvetica,Arial;
	font-size:14px;
}

h1 {
	font-size: 30px;
	margin-bottom: 12px;
}

h2 {
	font-size: 22px;
	margin-bottom: 8px;
}

h4 {
	font-size: 16px;
	margin: 12px 6px;
}

input, select {
	border: 1px solid #000000;
}

body > section {
	padding: 30px;
}